body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

#root {
    background-color: #fff;
}

.autoservices {
    max-width: 754px;
    margin: auto;
    line-height: normal;

    &__title {
        margin: auto;
        font-size: 18px;
        letter-spacing: 0.01em;
        color: #33449C;
    }

    &__list {
        border-collapse: collapse;
        width: 100%;
    }

    &__filter-titles-container {
        background: #33449C;
        border-radius: 2px;
    }
    
    &__filtersm {
        display: flex;
        align-items: center;
        color: #fff;
        font-size: 11px;
        font-weight: lighter;
        text-align: left;
        margin-bottom: 5px;
    }
    

    &__filtersm-btns {
        display: inline-flex;
        flex-direction: column;
        padding-left: 5px;
    }

    &__filtersm-btn {
        width: 10px;
        height: 6px;
        border: none;
        background-color: transparent;
        background-image: url('search_arrow_down.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100%;
        margin: 1px;
        cursor: pointer;
        &--down {
            background-image: url('search_arrow_up.png');
        }
    }

    &__box-title {
        padding: 11px 21px 0;

        &--first {
            max-width: 265px;
        }

        &--second {
            max-width: 362px;
        }

        &--third {
            min-width: 65px;
        }
    }
    &__filter-options {
        & td {
            padding: 0px 21px 10px;
        }
    }

    &__select {
        min-width: 200px;
        padding: 5px;
        border: none;
        border-radius: 5px;
        -webkit-appearance: none;
        background-image: url('downarrow.png');
        background-color: #1D2A6C;
        background-position: right center;
        background-size: 28px 10px;
        background-repeat: no-repeat;
        line-height: 20px;
        /* for FF */
        -moz-appearance: none;
        text-indent: 0.01px; 
        text-overflow: '';
        /* for IE */
        -ms-appearance: none;
        appearance: none!important;
        color: #CBD3FF;

        &:hover {
            color: #fff;
            background-color: #1F3089;
        }
        &.active {
            color: #000;
            background-image: url('uparrow.png');
            background-color: #fff;
        }

        &::-ms-expand {
            display: none;
        }
    }
    
    &__item {
        font-size: 14px;
        padding-left: 20px;
        letter-spacing: -0.0075em;

        &--first {
            color: #33449C;
            font-weight: 600;
        }

        &--third {
            font-size: 16px;
            text-align: center;
            color: #33449C;
        }

    }
          
    
}